<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.astra.ses.spell.code_coverage.executed"
            colorPreferenceKey="spellDev.CodeCoverage.Executed.Color"
            colorPreferenceValue="128,255,128"
            contributesToHeader="false"
            textStylePreferenceKey="spellDev.CodeCoverage.Executed.TextStyle"
            textStylePreferenceValue="IBEAM"
            highlightPreferenceKey="spellDev.CodeCoverage.Executed.Highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Executed Code Line"
            overviewRulerPreferenceKey="spellDev.CodeCoverage.Executed.OverviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="1"
            textPreferenceKey="spellDev.CodeCoverage.Executed.Text"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="spellDev.CodeCoverage.Executed.VerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="com.astra.ses.spell.code_coverage.not_executed"
            colorPreferenceKey="spellDev.CodeCoverage.NotExecuted.Color"
            colorPreferenceValue="190,190,190"
            contributesToHeader="false"
            textStylePreferenceKey="spellDev.CodeCoverage.NotExecuted.TextStyle"
            textStylePreferenceValue="IBEAM"
            highlightPreferenceKey="spellDev.CodeCoverage.NotExecuted.Highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Not Executed Code Line"
            overviewRulerPreferenceKey="spellDev.CodeCoverage.NotExecuted.OverviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="1"
            textPreferenceKey="spellDev.CodeCoverage.NotExecuted.Text"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="spellDev.CodeCoverage.NotExecuted.VerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="com.astra.ses.spell.code_coverage.partial_executed"
            colorPreferenceKey="spellDev.CodeCoverage.PartialExecuted.Color"
            colorPreferenceValue="255,200,0"
            contributesToHeader="false"
            textStylePreferenceKey="spellDev.CodeCoverage.PartialExecuted.TextStyle"
            textStylePreferenceValue="IBEAM"
            highlightPreferenceKey="spellDev.CodeCoverage.PartialExecuted.Highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Partial Executed Code Line"
            overviewRulerPreferenceKey="spellDev.CodeCoverage.PartialExecuted.OverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="2"
            textPreferenceKey="spellDev.CodeCoverage.PartialExecuted.Text"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="spellDev.CodeCoverage.PartialExecuted.VerticalRuler"
            verticalRulerPreferenceValue="true"
            symbolicIcon="info">
      </specification>
      <specification
            annotationType="com.astra.ses.spell.code_coverage.error_found"
            colorPreferenceKey="spellDev.CodeCoverage.ErrorFound.Color"
            colorPreferenceValue="255,0,0"
            contributesToHeader="true"
            textStylePreferenceKey="spellDev.CodeCoverage.ErrorFound.TextStyle"
            textStylePreferenceValue="SQUIGGLES"
            highlightPreferenceKey="spellDev.CodeCoverage.ErrorFound.Highlight"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="Error found in Code Line"
            overviewRulerPreferenceKey="spellDev.CodeCoverage.ErrorFound.OverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="2"
            textPreferenceKey="spellDev.CodeCoverage.ErrorFound.Text"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="spellDev.CodeCoverage.ErrorFound.VerticalRuler"
            verticalRulerPreferenceValue="true"
            symbolicIcon="error">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="com.astra.ses.spell.code_coverage.executed">
      </type>
      <type
            name="com.astra.ses.spell.code_coverage.not_executed">
      </type>
      <type
            name="com.astra.ses.spell.code_coverage.partial_executed">
      </type>
      <type
            name="com.astra.ses.spell.code_coverage.error_found">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.astra.ses.spell.code_coverage.ui.commandCategory"
            name="Code Coverage Category">
      </category>
      <command
            categoryId="com.astra.ses.spell.code_coverage.ui.commandCategory"
            id="com.astra.ses.spell.code_coverage.ui.command.loadCodeCoverage"
            name="Load Code Coverage Data">
         <commandParameter
               id="com.astra.ses.spell.dev.code_coverage.commandParameter1"
               name="autoUpdate"
               optional="true">
         </commandParameter>
         <commandParameter
               id="com.astra.ses.spell.dev.code_coverage.commandParameter2"
               name="activeEditor"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="com.astra.ses.spell.code_coverage.ui.commandCategory"
            id="com.astra.ses.spell.code_coverage.ui.command.startCodeCoverage"
            name="Start Code Coverage">
      </command>
      <command
            categoryId="com.astra.ses.spell.code_coverage.ui.commandCategory"
            id="com.astra.ses.spell.code_coverage.ui.command.clearCodeCoverage"
            name="Clear Code Coverage">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.astra.ses.spell.dev.code_coverage.CodeCoverageToolbar">
            <separator
                  name="com.astra.ses.spell.dev.code_coverage.CodeCoverageSep1"
                  visible="true">
            </separator>
            <command
                  commandId="com.astra.ses.spell.code_coverage.ui.command.loadCodeCoverage"
                  label="Load CC"
                  mode="FORCE_TEXT"
                  style="push"
                  tooltip="Load Code Coverage Data">
            </command>
            <command
                  commandId="com.astra.ses.spell.code_coverage.ui.command.clearCodeCoverage"
                  label="Clear CC"
                  mode="FORCE_TEXT"
                  style="push"
                  tooltip="Clear Load Code Coverage Data">
            </command>
            <separator
                  name="com.astra.ses.spell.dev.code_coverage.CodeCoverageSep2"
                  visible="true">
            </separator>
         </toolbar>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.astra.ses.spell.code_coverage.ui.commands.LoadCodeCoverageHandler"
            commandId="com.astra.ses.spell.code_coverage.ui.command.loadCodeCoverage">
         <enabledWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="com.astra.ses.spell.dev.spelleditor.SpellEditor">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.astra.ses.spell.code_coverage.ui.commands.StartCodeCoverageHandler"
            commandId="com.astra.ses.spell.code_coverage.ui.command.startCodeCoverage">
         <enabledWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="com.astra.ses.spell.dev.spelleditor.SpellEditor">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.astra.ses.spell.code_coverage.ui.commands.ClearCodeCoverageHandler"
            commandId="com.astra.ses.spell.code_coverage.ui.command.clearCodeCoverage">
         <enabledWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="com.astra.ses.spell.dev.spelleditor.SpellEditor">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.astra.ses.spell.dev.preferences"
            class="com.astra.ses.spell.code_coverage.ui.CodeCoveragePreferencePage"
            id="com.astra.ses.spell.dev.code_coverage.PreferencePage"
            name="Code Coverage Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.astra.ses.spell.code_coverage.ui.CodeCoveragePreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="com.astra.ses.spell.code_coverage.error_found"
         name="SPELL Fuzz Error Marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <attribute
            name="owner">
      </attribute>
   </extension>
</plugin>
