/.DiGraph.java._trace
/.DiGraphComment.java._trace
/.DiGraphEdge.java._trace
/.DiGraphHTMLGenerator.java._trace
/.DiGraphNode.java._trace
/.DiGraphProcedureCall.java._trace
/.DiGraph.xtendbin
/.DiGraphComment.xtendbin
/.DiGraphEdge.xtendbin
/.DiGraphHTMLGenerator.xtendbin
/.DiGraphNode.xtendbin
/.DiGraphProcedureCall.xtendbin
/DiGraph.java
/DiGraphComment.java
/DiGraphEdge.java
/DiGraphHTMLGenerator.java
/DiGraphNode.java
/DiGraphProcedureCall.java
