/.RefactoringDefinitionDescriptionLabelProvider.java._trace
/.RefactoringDefinitionLabelProvider.java._trace
/RefactoringDefinitionDescriptionLabelProvider.java
/RefactoringDefinitionLabelProvider.java
/.RefactoringDefinitionDescriptionLabelProvider.xtendbin
/.RefactoringDefinitionLabelProvider.xtendbin
