/.SpellDatabaseDescriptionLabelProvider.java._trace
/.SpellDatabaseLabelProvider.java._trace
/SpellDatabaseDescriptionLabelProvider.java
/SpellDatabaseLabelProvider.java
/.SpellDatabaseDescriptionLabelProvider.xtendbin
/.SpellDatabaseLabelProvider.xtendbin
