<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PageModel -->
      <package
            uri="http://www.gmv.es/views"
            class="es.gmv.views.ViewsPackage"
            genModel="model/PageModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PageModel -->
      <parser
            type="views"
            class="es.gmv.views.util.ViewsResourceFactoryImpl"/>
   </extension>

</plugin>
