<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Workspace -->
      <package
            uri="http://www.ses.com/workspace"
            class="lu.ses.engineering.B7022SPELL.WorkspaceGrammar.xml.Workspace.WorkspacePackage"
            genModel="model/Workspace.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Workspace -->
      <parser
            type="workspace"
            class="lu.ses.engineering.B7022SPELL.WorkspaceGrammar.xml.Workspace.util.WorkspaceResourceFactoryImpl"/>
   </extension>

</plugin>
